html {
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-family: Proxima Nova,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-variation-settings: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}

body, html {
  --tw-bg-opacity: 1;
  background-color: #0c0d13;
  background-color: rgb(12 13 19/var(--tw-bg-opacity));
}
body {
  --tw-text-opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f8f8f8;
  color: rgb(248 248 248/var(--tw-text-opacity));
  font-family: Proxima Nova,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size: 1.025rem;
  line-height: 1rem;
  line-height: 1.5;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}
.font-sans {
  font-family: Proxima Nova,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.rotate-135 {
  --tw-rotate: 135deg;
  /* transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(135deg) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)); */
  transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
.bg-hero {
  background-image: url(../public/img/helix-hero-bg.svg);
}
.bg-gray-750 {
  --tw-bg-opacity: 1;
  background-color: rgb(32 36 49/var(--tw-bg-opacity));
}
.text-gray-775 {
  --tw-text-opacity: 1;
  color: #282c39;
  color: rgb(40 44 57/var(--tw-text-opacity));
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #14161F;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #1D2130;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1D2130;
}
.bg-blue-501 {
  --tw-bg-opacity: 1;
  background-color: #2891e9;
  background-color: rgb(40 145 233/var(--tw-bg-opacity));
}

.video[data-v-4a9e0270] {
  aspect-ratio: 16/9;
  height: 100%;
  width: 100%;
}

.shadow-helixLight {
  --tw-shadow: 0px 0px 10px rgba(0,0,0,.1);
  --tw-shadow-colored: 0px 0px 10px var(--tw-shadow-color);
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 10px #0000001a;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.input-base {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border-radius: 0.125rem;
  box-sizing: border-box;
  text-align: left;
  width: 100%;
}

.input, .input-wrapper {
  --tw-bg-opacity: 1;
  background-color: #0c0d13;
  background-color: rgb(12 13 19/var(--tw-bg-opacity));
  border-radius: 0.25rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 0 3px #08090c;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.bg-gray-900 {
  --tw-bg-opacity: 1;
  background-color: #14161f;
  background-color: rgb(20 22 31/var(--tw-bg-opacity));
}

.input[disabled] {
  --tw-bg-opacity: 1;
  background-color: rgb(42 47 65/var(--tw-bg-opacity));
  cursor: not-allowed;
  pointer-events: none;
}
.input-bg-transparent {
  background-color: transparent !important;
}

.input {
  --tw-text-opacity: 1;
  --tw-shadow: 0px 0px 3px #08090c;
  --tw-shadow-colored: 0px 0px 3px var(--tw-shadow-color);
  appearance: none;
  border-color: transparent;
  border-width: 1px;
  color: rgb(242 242 242/var(--tw-text-opacity));
  height: 2.5rem;
  max-width: 100%;
  outline: transparent solid 2px;
  outline-offset: 2px;
  width: 100%;
}

.shadow-none {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.no-shadow .input {
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  border-color: transparent;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
}

.bg-gray-850 {
  --tw-bg-opacity: 1;
  background-color: #191c27;
  background-color: rgb(25 28 39/var(--tw-bg-opacity));
}

.hover\:bg-gray-700:hover {
  --tw-bg-opacity: 1;
  background-color: #2a2f41;
  background-color: rgb(42 47 65/var(--tw-bg-opacity));
}

.popup-menu {
  --tw-bg-opacity: 1;
  --tw-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.23);
  --tw-shadow-colored: 0 10px 20px var(--tw-shadow-color),0 6px 6px var(--tw-shadow-color);
  background-color: #191c27;
  background-color: rgb(25 28 39/var(--tw-bg-opacity));
  border-radius: 0.5rem;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 10px 20px #00000030, 0 6px 6px #0000003b;
  box-shadow: var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 20rem;
  z-index: 50;
}

.text-blue-901 {
  --tw-text-opacity: 1;
  color: #051e33;
  color: rgb(5 30 51/var(--tw-text-opacity));
}