.head-right {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    min-width: 33.33%;
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.btn-start {
    display: flex;
    column-gap: 3.2px;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    padding: 1.5px 2px;
    border-radius: 192px;
    transition: all 0.35s ease-in-out 0s;
    background-color: rgb(89, 115, 254);
    min-width: 24px;
    width: 24px;
    overflow: hidden;
    cursor: pointer;
}
.btn-start:hover{
    width: 100px;
    min-width: 100px;
}
.btn-span {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}
.btn-second-span {
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    width: 24px;
    height: 24px;
    background: none;
    opacity: 1;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
    max-width: 100%;
}
.btn-img{
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    inset: 0px;
    box-sizing: border-box;
    padding: 0px;
    border: none;
    margin: auto;
    display: block;
    width: 0px;
    height: 0px;
    max-width: 100%;
    max-height: 100%;
}
.btn-second {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
    margin-right: 18px;
    min-width: 24px !important;
    min-height: 24px !important;
    cursor: pointer;
}
.btn-third {
    display: flex;
    cursor: pointer;
    flex-direction: row;
    margin-right: 8px;
}
.btn-four{
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.leadheader-svg{
    border-radius: 50px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    width: 24px;
    height: 24px;
    display: inline-block;
    background: rgb(249, 59, 1);
}